/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
          
}
#workExperience{
        display:grid;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows: 1fr;
        width:100%;
        padding-top: 20px;
}

.workLogo{
        border-radius: 50%;
}

.workExpe{
        padding: 0px 20px 0px 40px;
}

#volunteeryWork{
        text-align: center;
}

.educationImage{
        text-align: center;
}

#education{
        display:grid;
        grid-template-columns:repeat(1,1fr);
        grid-template-rows: 1fr;
        width:100%;
        text-align: left;
}

#educationInfo{
        display:grid;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows: 1fr;
        width:100%;
}

