/* ----------- Non-Retina Screens ----------- */
@media screen 
and (min-device-width: 1021px) 
and (max-device-width: 4000px) 
and (-webkit-min-device-pixel-ratio: 1) { 

        /* styling for navigation bar */
        #navBar{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                width: 100%;
                height: 60px;
                background-color: black;
        }

        /* styling for navBar unordered list */
        #navBar>ul>li{
                display: inline-block;
                list-style-type: none;
                padding-left: 100px;
        }

        /* styling navBar anchor tags */
        #navBar a{
                font-size: 24px;
                color: #C2C2C2;
                text-decoration: none;
        }

        #navBar a:hover{
                color: #B12A24;

        }

        #dropDown {
                position: relative;
                display: inline-block;
        }
        
        #dropDown-Content{
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
        }
        
        #dropDown-Content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
        }
        
        #dropDown-Content a:hover {
                background-color: #ddd;
        }
        
        #dropDown:hover #dropDown-Content{
                display: block;
        }

        /* back to top button-------------------- */
        #topButton{
                display: inline-block; 
                background-color: rgba(0,0,0,.3);
                width: 40px;
                height: 40px;
                color:white;
                text-align: center;
                border-radius: 2px;
                position: fixed;
                bottom: 10px;
                font-size: 35px;
                right: 30px;
        }

        #topButton:hover{
                cursor: pointer;
                color:#B12A24;
        }

        #topButton.show{
                opacity: 1;
                visibility: visible;
        }

        /* header section */
        /* general styling for header */
        #header{
                display:grid;
                grid-template-columns:repeat(1,1fr);
                grid-template-rows: 1fr;
                width:100%;
                height: 500px;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url("../images/landingPage.jpg");
        }

        #box{
                text-align: center;
                margin-top:250px;
        }

        #description{
                width: 250px;
                padding-top: 5px;
                padding-bottom: 5px;
                margin-left:38%;
                border-top: 2px solid #B12A24;
                border-bottom: 2px solid #B12A24;
                color: #ddd;
        }
        
        #downloadButton{
                width: 150px;
                height: 50px;
                background-color: rgba(0,0,0,.3);
                border: none;
                color: #f1f1f1;
                cursor: pointer;
        }

        h2{
                color: #B12A24;
        }

        #about{
                display:grid;
                grid-template-columns:repeat(2,1fr);
                grid-template-rows: 1fr;
                width:100%;
                height: 350px;
                padding-top: 40px;
        }

        #personalState{
                text-align: justify;
                padding-left: 50px;
                padding-right:50px;
        }

        .buttons{
                width: 150px;
                height: 50px;
                border: none;
                background-color:#B12A24;
                margin-bottom: 4px;
                text-decoration: none;
                color: #ddd;
                cursor: pointer;
        }

        .workLogo{
                border-radius: 50%;
        }

        #workExperience{
                display:grid;
                grid-template-columns:repeat(2,1fr);
                grid-template-rows: 1fr;
                width:100%;

        }

        .contentAdjustment{
                text-align: justify;
                padding-left: 50px;
                padding-right:50px;
        }

        #volunteeryWork{
                width: 200%;
                text-align: center;
        }

        .educationImage{
                width:100%;
                height:250px;
                text-align: center;
        }

        #educationInfo{
                display:grid;
                grid-template-columns:repeat(2,1fr);
                grid-template-rows: 1fr;
                width:100%;
        }

        /* projects---------------------- */
        #mainProjectContainer{
                width: 100%;
                height: 500px;
                display: grid;
                grid-template-columns: repeat(1,1fr);
                grid-template-rows: repeat(1,1fr);
                background-color: rgba(0, 0, 0, 0.959);
        }
        
        .projectImages{
                width: 90%;
                height: 400px;
                padding-left: 50px;
                padding-right:50px;
                border-radius: 8%;
        }
        
        /* Caption text */
        .text {
                color: #C2C2C2;
                font-size: 15px;
                margin-top:10px;
                text-align: center;
        }
        
        /* Number text (1/3 etc) */
        .numbertext {
                color:#C2C2C2;
                font-size: 30px;
                margin-top: 10px;
                float:right;
                margin-right: 10px;
        }
        
        /* The dots/bullets/indicators */
        .dot { 
                place-items: center;
                cursor: pointer;
                height: 15px;
                width: 15px;
                margin:4px 2px;
                background-color: #f2f2f2;
                border-radius: 50%;
                border: none;
                display: inline-block;
                transition: background-color 0.6s ease;
        }
        
        .active, .dot:hover {
                background-color: #B12A24;
        }

        /* references----------------------------*/  
        #referenceContainer{
                display: grid;
                grid-template-columns: repeat(3,1fr);
                grid-template-rows: repeat(1,1fr);
                width: 100%;
                height: 450px;
                padding: 20px 0px 0px 0px;
        }
        
        .referenceInfo{
                text-align:center;
        }

        .displayDescription{
                text-align: center;
        }

        .referenceImages{
                border-radius: 20%;
        }
        
        .referenceCollapsible::after{
                content: '\002B';
                color: #B12A24;
                font-weight: bold;
                margin-left: 10px;
                cursor: pointer;
        }

        /* contact------------------------- */
        #mainContactContainer{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: repeat(1,1fr);
                width: 100%; 
                height: auto;
                margin-top: 40px;
                margin-bottom: 20px;
                position: relative;
                text-align: center;
        }
        
#contactInfo{
        padding-top: 80px;
}

        #socialMediaLinks{
                width: 100%;
                height: auto;
                /* text-align: center; */
                color: #B12A24;    
        }
        
        .iconContainer{
                width: 80px;
                height: 80px;
                font-size: 60px;
                cursor: pointer;
                text-align: center;
                align-items: center;
                background-color: whitesmoke;
                border-radius: 4px;
                margin: 10px 0px 5px 0px;
                display: inline-block;
        }
        
        .iconContainer:hover{
                background-color:#fff;
        }
        
        #contactImage{
                border-radius: 50%;
        }

        #signatureBar{
                display: grid;
                grid-template-columns: repeat(1,1fr);
                grid-template-rows: repeat(1,1fr);
                width: 100%;
                text-align: center;
                color: #C2C2C2;
                background-color: black;
        }
} 