#projectContainer{
    
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
    margin: 40px 4px 40px 4px;
    text-align: center;
    /* background-color: aliceblue; */
}

.projectImages{
    border-radius: 2%;
}