*body{
    margin: 0px;
    padding: 0px;
}

#referenceContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    width: 100%;
    height: 600px;
    padding: 80px 0px 0px 0px;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
}

.referenceInfo{
    padding: 0px 45px 0px 45px;
    text-align: justify;
}

.addInfo{
    margin-left: 100px;
}

.referenceImages{
    border-radius: 20%;
}